@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'icons';
  src:  url('../../public/fonts/icons.eot?oc3vky');
  src:  url('../../public/fonts/icons.eot?oc3vky#iefix') format('embedded-opentype'),
    url('../../public/fonts/icons.ttf?oc3vky') format('truetype'),
    url('../../public/fonts/icons.woff?oc3vky') format('woff'),
    url('../../public/fonts/icons.svg?oc3vky#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.icon-plus:before {
  font-family: 'icons' !important;
  content: "\ea0d";
  position: absolute;
  white-space: pre;
  display: inline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25px);
}

.icon-cross:before {
  font-family: 'icons' !important;
  content: "\ea12";
  position: absolute;
  white-space: pre;
  display: inline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-cross-standard:before {
  font-family: 'icons' !important;
  content: "\ea12";
  top: 1px;
}
